---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="container">
		<div id="map"></div>
		<div id="info"></div>
	</div>

	<style>
		.container {
			height: 100vh;
			width: 100vw;
			max-width: 100%;
			max-height: 100%;

			display: flex;
			flex-direction: row
		}

		#map {
			width: 75%;
			height: 100%;
		}

		#info {
			background-color: rgb(34, 34, 34);
			border-left: 5px rgb(25, 25, 25) solid;
			width: 25%;
			height: 100%;
		}

		.leaflet-container {
			background: rgb(34, 34, 34);
		}

	</style>

	<script>
		import  initSqlJs  from "sql.js"

		const sqlPromise = await initSqlJs({
			locateFile: file => `https://sql.js.org/dist/${file}`
		});

		const dataPromise = fetch("/audit_db").then(res => res.arrayBuffer());
		const [SQL, buf] = await Promise.all([sqlPromise, dataPromise])
		const db = new SQL.Database(new Uint8Array(buf));


		// console.log(departments[0].values)
		
		var map = L.map('map').setView([37.7668, -122.267], 10);

		L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.{ext}', {
			minZoom: 4,
			maxZoom: 20,
			attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
			ext: 'png'
		}).addTo(map);

		// 0.dept_slug	1.flock_status	2.name	3.last_updated	4.camera_count	5.vehicles_30_days	6.searches_30_days	7.latitude	8.longitude	9.state_code					
		const departments = db.exec("SELECT * FROM departments WHERE flock_status = 200 AND latitude IS NOT NULL AND longitude IS NOT NULL")[0].values;
		departments.forEach(dept => {
			dept[10] = L.marker([dept[7],dept[8]]).addTo(map);
		});

		const first_time = new Date(db.exec("SELECT time FROM searches ORDER BY time ASC LIMIT 1")[0].values[0][0])


		
	</script>
</Layout>